#carnearn-login .login-dropdown a{
    color: rgba(36,39,44,.87);
    font-weight: 500;
    font-size: 14px;
}
#carnearn-login .modal-login {		
	color: #636363;
	width: 350px !important;
}
#carnearn-login .modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
#carnearn-login .modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
#carnearn-login .modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
#carnearn-login .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #8fc93c;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#carnearn-login .modal-login .form-control:focus {
	border-color: #70c5c0;
}
#carnearn-login .modal-login .form-control, #carnearn-login .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
#carnearn-login .modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
#carnearn-login .modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
#carnearn-login .modal-login .modal-footer a {
	color: #999;
}		
#carnearn-login .modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #8fc93c;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
#carnearn-login .modal-login .avatar img {
	width: 100%;
}
#carnearn-login .modal-login.modal-dialog {
	margin-top: 80px;
}
#carnearn-login .modal-login .btn, #carnearn-login .modal-login .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #8fc93c !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
#carnearn-login .modal-login .btn:hover, #carnearn-login .modal-login .btn:focus {
	background: #8fc93c !important;
	outline: none;
}